<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tsaravan9.myconciergeandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyConciergeAndroid">
        <activity
            android:name=".views.RegisterBuildingToUserActivity"
            android:exported="false" />
        <activity
            android:name=".views.BottomNavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".views.admin.EnterPackageDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".views.admin.ResidentsListActivity"
            android:exported="false" />
        <activity
            android:name=".views.admin.BuildingsListActivity"
            android:exported="false" />
        <activity
            android:name=".views.resident.ActivityLogActivity"
            android:exported="false" />
        <activity
            android:name=".views.GlobalChatActivity"
            android:exported="false" />
        <activity
            android:name=".views.admin.PostAnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".views.AnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".views.resident.PackageApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".views.admin.SignupApprovalActivity"
            android:exported="false" />
        <activity
            android:name=".views.resident.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.resident.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SignupActivity"
            android:exported="false" />
    </application>

</manifest>